.flex-container {
    display: flex;
  
    /* flex-direction: column; */
  }
.darkgray {
    background-color: rgb(33, 34, 34);
}
.lightgray {
    background-color: rgb(175, 172, 172);
}
.center {
    justify-content: center;
    align-items: center;
}
.boxes {
    width: 60px;
    height:60px;
    border: 6px;
    border-color: blue;
}
.square {
    width: 70px;
    height: 70px;
}
.rounded {
    border-radius: 4px;
}
button:hover {
    background-color: blueviolet;
}
.bluebox {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 4px;
}

html {
    font-style: hero;
}